@charset "UTF-8";
/* Inidex CSS ESTILOS POR EVENTO */
/* animacion solo para desktop */
/*------------------- MAPAS DE ESTILOS --------------------- */
/* MEDIOS-CONTACTO ESTILOS */
/* Margen y padding universales */
* {
  padding: 0px;
  margin: 0;
}

/* Fuemtes utilizadas */
@font-face {
  font-family: Roboto-Regular;
  src: url(../Font/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../Font/Roboto-Bold.ttf);
}
@font-face {
  font-family: Nexa-Heavy;
  src: url(../Font/Nexa-Heavy.ttf);
}
/*--------------------------------- INDEX CSS---------------------- */
/* Body index*/
.body-index {
  background-color: #4C3D3D;
  font-family: "Roboto-Bold";
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-template-areas: "header header" "main main" "footer footer";
}

/* HEADER INDEX */
.header-index {
  grid-area: header;
}

/* Menu de navegacion */
.header__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFF7D4;
  /* Header menu con barra de nav */
  /* Animacion de cajas */
}
.header__menu .navbar {
  width: 100%;
  justify-content: right;
  margin: 10px;
}
.header__menu .animaciones-cajas {
  grid-area: header;
}
.header__menu .animaciones-cajas ul {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 0;
  padding: 0;
}
.header__menu .animaciones-cajas li {
  list-style-type: none;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50px;
  animation: animate 3s ease-in-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__menu .animaciones-cajas li img {
  width: 80px;
  height: 80px;
}
.header__menu .animaciones-cajas li:nth-child(1) {
  animation-delay: -1400ms;
  background: #C07F00;
}
.header__menu .animaciones-cajas li:nth-child(2) {
  animation-delay: -1200ms;
  background: #FFD95A;
}
.header__menu .animaciones-cajas li:nth-child(3) {
  animation-delay: -1000ms;
  background: #4C3D3D;
}
@keyframes animate {
  30%, 100% {
    transform: scale(0.4);
  }
  20% {
    transform: scale(1);
  }
}

/* Logotipo con características */
.header__divLogo {
  display: flex;
  align-items: center;
  padding: 10px;
}
.header__divLogo img {
  width: 250px;
  transition: all 0.8s;
}
.header__divLogo img:hover {
  transform: scale(1.1);
}

/* Separación de enlaces del menú */
.header__menu__sector ul {
  display: flex;
  font-family: "Nexa-Heavy";
  /* Fondo de enlaces */
  /* Cada clase de pagina con sus propiedades  */
}
.header__menu__sector ul :nth-child(even) { /* PROBLEMA CON ESTOP  */
  background-color: #FFD95A;
}
.header__menu__sector ul li {
  width: 150px;
  height: 60px;
  background-color: #C07F00;
  font-size: 23px;
  text-align: center;
  list-style: none;
  transition: all 0.6s;
}
.header__menu__sector ul li:hover {
  transform: scale(1.1);
  border-radius: 15px;
}

/* Enlaces sin decoracion */
.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  /* Enlaces cambia de color */
}
.nav-link:hover {
  color: white;
  transition: 0.5s;
}

/*-------------------------- MAIN index --------------------------*/
.main-index {
  grid-area: main;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Foto perfil con margen */
.foto__abiel {
  grid-area: main;
  margin: 10px;
  /* Border de la imagen */ /* CUIDADO CON BEM Y SASS VERIFICAR EN ESTE SI HAY ERROR  */
}
.foto__abiel img {
  border-radius: 80px;
}

/* Contenedor del titulo y parrafo */
.section__info__personal {
  grid-area: main;
  background-color: #C07F00;
  padding: 10px;
  width: 800px;
  /* TITULO info personal  */
  /* Parrafo info personal */
}
.section__info__personal h1 {
  font-family: "Nexa-Heavy";
  text-align: center;
  padding-top: 2px;
}
.section__info__personal p {
  text-align: left;
  padding: 8px;
  font-size: 1.2em;
  font-family: "Roboto-Regular";
  line-height: 23px;
}

/* Ubicacion Iconos de redes y contactos */
.section__icon__apps {
  grid-area: main;
  display: flex;
  justify-content: center;
  padding: 10px;
  /* Separacion de iconos de redes y contactos */
}
.section__icon__apps a img {
  width: 65px;
  padding: 5px;
  margin: 2px;
}
.section__icon__apps button {
  margin: 5px;
  border-radius: 20px;
  border-color: #FFD95A;
  transition: all 0.5s;
}
.section__icon__apps button:hover {
  transform: scale(0.85);
}

#whatApp {
  background-color: #25D366;
}

#linkedin {
  background-color: #0A66C2;
}

#email {
  background-color: #22aff0;
}

#instagram {
  background-color: #c72525;
}

/*---------------Footer index---------------------------------------------- */
.footer__index {
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  background-color: #FFD95A;
  /* Contendedor de los servicios */
  /* DIVISOR ENTRE SERVICIOS */
}
.footer__index .articulo__index__serv {
  display: block;
  /* Animacion importada de los iconos de las servicios*/
}
.footer__index .articulo__index__serv div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 5px 90px 5px;
}
.footer__index .articulo__index__serv div img {
  transition: all 0.5s;
  cursor: pointer;
}
.footer__index .articulo__index__serv div img:hover {
  transform: scale(0.85);
}
.footer__index .articulo__index__serv p {
  background-color: #FFF7D4;
  text-align: center;
  padding: 10px;
}
.footer__index .divisor {
  background-color: #C07F00;
  width: 45px;
}

/* ---------------------------- 1°er-ANIVERSARIO DE LA PAGINA EN SERVICIO -----------------*/
/* CODICIONAL DE ESTILO ANIVERSARIO  */
.body-index {
  background-color: #4C3D3D;
}

.header__menu {
  background-color: #FFF7D4;
}

.footer__index {
  background-color: #FFD95A;
}

/* ------------------------------Media Queris INDEX -------------------------------*/
/* ------------------------------Media Queris INDEX -------------------------------*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  .body-index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
  }
  /* header menu index */
  .header__menu {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    /* hader menu index con nav */
  }
  .header__menu .navbar {
    width: 100px;
    justify-content: start;
    padding: 0;
  }
  .header__menu .navbar-toggler {
    display: flex;
  }
  /* header con logo */
  .header__divLogo {
    padding: 0;
    width: 100px;
  }
  .header__divLogo img {
    transition: none;
  }
  .animaciones-cajas {
    display: none;
  }
  /* enlaces de las paginas */
  .nav-link {
    display: flex;
    justify-content: center;
    align-items: start;
    text-decoration: none;
    color: black;
    font-size: 14px;
    width: 120px;
    /* Enlaces cambia de color */
  }
  .nav-link:active {
    color: white;
    transition: 0.5s;
  }
  /* Contenedor de las paginas */
  .header__menu__sector div li {
    grid-area: main;
    width: 100px;
    height: 30px;
    font-size: 12px;
  }
  /* Main index Resposive */
  .main-index {
    grid-area: main;
    flex-wrap: wrap;
  }
  /* Foto con margen para movil */
  .foto__abiel {
    grid-area: main;
    margin: 15px 5px;
    /* Foto con bordes movil */
  }
  .foto__abiel img {
    margin: 0;
    grid-area: main;
    border-radius: 40px;
    width: 400px;
    max-height: 600px;
    background-image: url(../img/Fotos-perfil/Foto-perfil-responsive.jpg);
  }
  /* info personal movil */
  .section__info__personal {
    grid-area: main;
    margin: 10px;
    padding: 0px;
    width: 100%;
    /* info personal parrafo movil */
  }
  .section__info__personal p {
    grid-area: main;
    padding: 10px;
    font-size: 1.1em;
  }
  /* Inconos de redes */
  .section__icon__apps a img {
    border-radius: 20px;
    width: 55px;
  }
  /* FOOTER INDEX RESPOSIVE  */
  .footer__index {
    grid-area: footer;
    display: inline-block;
  }
  /*  contenedor de img de los servicios  */
  .articulo__index__serv {
    /* parrafo de img de los servicios */
  }
  .articulo__index__serv div {
    grid-area: footer;
    width: 120px;
    height: 120px;
    padding: 0;
    margin-left: 200px;
  }
  .articulo__index__serv img {
    margin-left: 200px;
  }
  .articulo__index__serv p {
    grid-area: footer;
    width: 100%;
    margin: 0;
  }
  .divisor {
    display: inline;
  }
}
/* ---------------------------  CSS pages GALERIA -------------------- */
/* BODY DE GALERIA */
.body-galeria {
  background-color: #4C3D3D;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "header header header" "main main aside" "section section aside " "footer footer footer";
  font-family: "Roboto-Regular";
}

/* HEADER de Galeria */
.header-index {
  grid-area: header;
}

/* Main de galeria */
.main-galeria {
  grid-area: main;
  display: flex;
  justify-content: right;
  margin: 30px;
  /* Espesifidad main + section */
}
.main-galeria section {
  grid-area: section;
  display: grid;
  grid-template-rows: repeat(1, 3fr);
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 30px;
  justify-items: center;
}

/* Todos los protyectos img */
/* Secciones de todas la galeria  */
.section__todos__proyectos {
  grid-area: section;
  display: flex;
  justify-content: right;
  /* Efecto en la img en la galeria  */
}
.section__todos__proyectos .card-img-top {
  width: 100%;
  transition: all 300ms;
  position: relative;
}
.section__todos__proyectos .card-img-top:hover {
  transform: scale(0.92);
}

.card {
  width: 22rem;
  background-color: #FFD95A;
  transition: all 300ms;
}
.card:hover {
  background-color: #FFF7D4;
}

/* Boton de descarga pdf con distinto color  */
.btn-primary {
  background-color: #4C3D3D;
}
.btn-primary:hover {
  background-color: #C07F00;
  color: white;
}

/*--------------- ASIDE de Galeria -------------contenedor y  posicion  */
.aside-galeria {
  grid-area: aside;
  display: block;
  justify-content: right;
  background-color: #C07F00;
  margin: 30px;
  border-radius: 40px;
  /* ASIDE de Galeria titulo */
  /* Parrafo de titulo de los iframe */
}
.aside-galeria h1 {
  grid-area: aside;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-family: "Roboto-Bold";
  font-size: 35px;
}
.aside-galeria p {
  grid-area: aside;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
  font-family: "Roboto-Bold";
  text-align: center;
}

.article-galeria-aclaracion {
  display: inline;
}
.article-galeria-aclaracion p {
  background-color: #FFD95A;
}
.article-galeria-aclaracion img {
  margin-left: 20px;
  transition: 1s;
}
.article-galeria-aclaracion img:hover {
  transform: scale(0.95);
}

/* iframe de los videos  */
.videos-tp {
  grid-area: aside;
  text-align: center;
  margin: 5px 20px;
}

.body-index {
  background-color: #4C3D3D;
}

/* --------------------------FOOTER GALERIA usado en about y formulario----------------- */
.footer-galeria {
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #C07F00;
  height: 50px;
}
.footer-galeria a {
  text-decoration: none;
}
.footer-galeria h2 {
  font-family: "Roboto-Bold";
  color: #4C3D3D;
  font-size: 35px;
}
.footer-galeria h2:hover {
  color: white;
  transition: 0.5s;
}

/*---------------------------------------- Media Queris Galeria------------------- */
/*---------------------------------------- Media Queris Galeria------------------- */
@media (min-width: 320px) and (max-width: 480px) {
  .body-galeria {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "section" "aside" "footer";
  }
  /* header menu se quees elmismo que arriba lo tengo que cambiar. */
  .header__menu {
    grid-area: header;
    flex-wrap: wrap;
  }
  .header__menu .navbar {
    justify-content: center;
    width: 110px;
    padding-left: 10px;
  }
  .header__divLogo {
    grid-area: header;
  }
  .header__menu__sector div ul {
    margin-top: 10px;
  }
  .header__menu__sector div ul li {
    grid-area: section;
    width: 100%;
    height: 30px;
    font-size: 12px;
  }
  /* Main galeria resposive */
  .main-galeria {
    grid-area: main;
    display: flex;
    justify-content: center;
    margin: 20px 10px;
    /* main galeria section */
  }
  .main-galeria section {
    grid-area: main;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  /* todas las card de  bootstrap */
  .section__todos__proyectos {
    grid-area: main;
    display: flex;
    justify-content: center;
    transition: all 300ms;
  }
  .section__todos__proyectos .card-img-top {
    width: 100%;
    transition: all 300ms;
    position: relative;
  }
  .section__todos__proyectos .card-img-top:active {
    transform: scale(0.92);
  }
  .card {
    transition: all 300ms;
  }
  .card:active {
    background-color: #FFF7D4;
  }
  /* ASIDE-GALERIA  */
  .aside-galeria {
    grid-area: aside;
    margin-left: 20px;
    width: 430px;
    /* ASIDE-Galeria h3 */
    /* ASIDE-Galeria parrafo */
  }
  .aside-galeria h1 {
    padding: 5px;
    font-size: 20px;
  }
  .aside-galeria p {
    display: block;
    padding: 2px;
    font-size: 15px;
  }
  .article-galeria-aclaracion {
    display: inline;
  }
  .article-galeria-aclaracion p {
    background-color: #FFD95A;
  }
  .article-galeria-aclaracion img {
    width: 360px;
    margin-left: 35px;
    transition: 1s;
  }
  .article-galeria-aclaracion img:active {
    transform: scale(0.95);
  }
  /* iframe de videos aside*/
  .videos-tp iframe {
    width: 300px;
    height: 200px;
  }
  /* footer galeria resposive */
  .footer-galeria {
    grid-area: footer;
    display: flex;
    width: 100%;
    height: 50px;
  }
  .footer-galeria h2 {
    font-size: 30px;
  }
  .footer-galeria h2:hover {
    transition: 0.2s;
  }
}
/* ---------------------------  CSS pages ABOUT -------------------- */
/* GRILLA DE LA PAGINA ABOUT */
.body-about {
  background-color: #4C3D3D;
  font-family: "Roboto-Regular";
  display: grid;
  grid-template-areas: "header header header" "main main section" "footer footer footer";
}

/* Mismo header del inicio para todas las paginas POR AHORA.. */
.header-index {
  grid-area: header;
}

/* Main about */
.main-about {
  grid-area: main;
}

/* contenedor Titulo de About  */
.titulo-about {
  grid-area: section;
  background-color: #C07F00;
  width: 700px;
  height: 70px;
  font-size: 1.5rem;
  display: flex;
  justify-self: center;
  align-items: center;
  margin: 20px 35%;
  /*Titulo de About texto*/
}
.titulo-about h1 {
  grid-area: main;
  padding: 5px;
  font-size: 30px;
}

/* Img y biografia 1 de about me display flex*/
.img-y-descripcion {
  grid-area: section;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

/* contenedor Parrafo 1 de biografia */
.biografia-1 {
  grid-area: section;
  display: block;
}

/* Parr 1 de biografia */
.parrafo1 {
  grid-area: section;
  background-color: #FFF7D4;
  width: 700px;
  padding: 20px;
  height: 250px;
  padding: 10px;
  line-height: 1.5;
  font-size: 20px;
  font-family: "Roboto-Regular";
  margin-bottom: 20px;
}

/* CONTENEDOR TEXTO PARRAFO 2 */
.biografia-2 {
  grid-area: section;
  display: flex;
  justify-content: left;
}

/* TEXTO PARRAFO 2 */
.info-s2 {
  grid-area: section;
  display: inline;
  margin: 30px;
  font-size: 20px;
  background-color: #FFF7D4;
  padding: 15px;
  line-height: 1.3;
  font-family: "Roboto-Regular";
}

/* titulo seccion actividades */
.auto-motivacion h2 {
  display: flex;
  justify-content: center;
  background: #C07F00;
  width: 20%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

/* Contenedor de hobbys */
.article-about {
  grid-area: section;
  /* Titulo de hobbys */
}
.article-about h3 {
  color: #4C3D3D;
  font-weight: 800;
  background-color: #FFD95A;
  text-align: center;
  padding: 10px;
}

/* Actividades Favoritas */
.act-hobbys {
  grid-area: section;
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

/* Acordion de bootstrap con obejetivos y mi personalidad */
.accordion {
  margin: 0 20px 20px 10px;
}

.accordion-button {
  background-color: #C07F00;
  border: #C07F00;
}
.accordion-button:not(.collapsed) {
  background-color: #FFD95A;
}

.accordion-body {
  background-color: #FFF7D4;
}

/* Lista de Hobbys */
.list-group-item {
  display: flex;
  color: #4C3D3D;
  background-color: #C07F00;
  border: none;
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  background-color: #FFF7D4;
  /* color de hover para lista de hobbys */
  /* color al apretar lista de hobbys  */
}
.list-group-item:hover {
  background-color: #FFD95A;
}
.list-group-item:focus {
  background-color: #FFD95A;
}

.list-group-item.active {
  background-color: #FFD95A;
  color: black;
}

.body-index {
  background-color: #4C3D3D;
}

/*------------------------ FOOTER ABOUT  el mismo que galeria*/
.footer-galeria {
  grid-area: footer;
}

/* --------------------------Media Queries About----------------------- */
/* --------------------------Media Queries About----------------------- */
@media (min-width: 320px) and (max-width: 480px) {
  /* Body Resposibe about */
  .body-about {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "section" "article" "footer";
    /* header unico  */
  }
  .header__menu {
    grid-area: header;
  }
  .header__divLogo {
    grid-area: header;
  }
  .header__menu__sector div ul {
    grid-area: section;
  }
  .main-about {
    grid-area: main;
    display: inline-block;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 1fr; /* VER ACA */
    grid-gap: 30px;
  }
  /* titulo acomodado */
  .titulo-about {
    grid-area: section;
    width: 440px;
    height: 50px;
    margin: 20px;
    /*Titulo de About texto*/
  }
  .titulo-about h1 {
    grid-area: main;
    padding: 5px;
    margin-left: 8px;
    font-size: 18px;
    font-weight: 700;
  }
  .img-y-descripcion {
    grid-area: section;
    display: inline;
  }
  .img-y-descripcion img {
    width: 440px;
    height: 350px;
    margin: 0 0 5px 20px;
  }
  .parrafo1 {
    width: 450px;
    padding: 20px;
    height: 320px;
    font-size: 18px;
    margin: 10px;
  }
  /* TEXTO PARRAFO 2 */
  .info-s2 {
    margin: 10px 10px;
    width: 450px;
    font-size: 18px;
  }
  .auto-motivacion h2 {
    width: 100%;
    margin: 0;
  }
  /* cartel de motivacion */
  .act-hobbys {
    display: inline-block;
    margin: 10px;
  }
  .act-hobbys img {
    width: 450px;
    margin: 0 10px 10px 0;
  }
  /* Acordion de bootstrap con obejetivos y mi personalidad */
  .accordion {
    margin: 10px 0;
    width: 450px;
  }
  /* Lista de Hobbys */
  .list-group {
    display: flex;
    justify-content: center;
    margin-left: 25%;
  }
  .list-group-item {
    display: flex;
    justify-content: left;
    color: #4C3D3D;
    width: 250px;
    /* color al apretar lista de hobbys  */
  }
  .list-group-item:focus {
    background-color: #FFD95A;
  }
  .list-group-item.active {
    background-color: #FFD95A;
    color: black;
  }
}
/* ---------------------------  CSS pages contacto -------------------- */
/* BODY CONTACTO */
.body-contacto {
  background-color: #4C3D3D;
  font-family: "Roboto-Regular";
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "header header header" "section section section" "article article article" "footer footer footer";
}

/* HEADER-CONTACTO */
.header-index {
  grid-area: header;
}

/* MAIN-CONTACTO */
.main-contacto {
  grid-area: section;
  background-image: url(../img/fondo-contacto-img.jpg);
  display: flex;
  justify-content: space-around;
}

.info-articulo {
  grid-area: main;
  /* contenedor contacto */
  /* Lista de contenido asociado */
  /* frase de que puedo realizar */
}
.info-articulo h1 {
  background-color: #FFD95A;
  text-align: center;
  font-size: 30px;
  height: 40px;
  width: 160px;
  margin: 30px;
  font-family: "Roboto-Bold";
}
.info-articulo p {
  grid-area: section;
  background-color: #FFF7D4;
  width: 360px;
  padding: 15px;
  margin: 30px;
}
.info-articulo .lista-asociados {
  grid-area: section;
  list-style: none;
  padding: 10px;
  grid-area: section;
  background-color: #FFF7D4;
  width: 260px;
  height: 200px;
  margin-left: 30px;
  padding-left: 20px;
}
.info-articulo .frase-epica {
  font-style: italic;
  text-align: center;
}
.info-articulo .section__icon__apps {
  grid-area: main;
  text-align: left;
  margin-left: 30px;
  /* Separacion de iconos de redes y contactos */
}
.info-articulo .section__icon__apps a img {
  width: 65px;
  padding: 5px;
  margin: 2px;
}
.info-articulo .section__icon__apps button {
  border-radius: 20px;
  border-color: #FFD95A;
  transition: all 0.5s;
}
.info-articulo .section__icon__apps button:hover {
  transform: scale(0.85);
}
.info-articulo #whatApp {
  background-color: #25D366;
}
.info-articulo #linkedin {
  background-color: #0A66C2;
}
.info-articulo #email {
  background-color: #22aff0;
}
.info-articulo #instagram {
  background-color: #c72525;
}
.info-articulo .form-contacto {
  /* comentario de tu  interez */
}
.info-articulo .form-contacto h2 {
  background-color: #FFD95A;
  font-size: 20px;
  height: 40px;
  width: 390px;
  margin: 15px 30px;
  padding: 5px;
}
.info-articulo .form-contacto #cometario {
  margin: 20px 30px;
  height: 100px;
  border: #FFD95A solid 5px;
}
.info-articulo .form-contacto #enviar-contacto {
  font-weight: 700;
  text-transform: uppercase;
  transition: 1s;
  cursor: pointer;
  letter-spacing: 0.3em;
  height: 50px;
  width: 250px;
  margin: 0 0 15px 150px;
  background-color: #FFF7D4;
  border-radius: 10px;
  color: black;
  font-size: 16px;
}
.info-articulo .form-contacto #enviar-contacto:hover {
  background: radial-gradient(circle at center, #C07F00, #FFD95A);
  box-shadow: 0 0 5px #FFD95A, 0 0 25px #FFD95A, 0 0 50px #FFD95A, 0 0 100px #FFD95A;
}

/* Mapa de ubicacion */
.map {
  grid-area: article;
  /* Mapa de ubicacion parrafo */
}
.map p {
  background-color: #FFD95A;
  text-align: center;
  font-size: 20px;
  height: 30px;
}

/* --------------------------FOOTER contato usado en pages  contacto y servicios----------------- */
.footer-contacto {
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #C07F00;
  height: 50px;
}
.footer-contacto a {
  text-decoration: none;
}
.footer-contacto h3 {
  font-family: "Roboto-Bold";
  color: #4C3D3D;
  font-size: 35px;
}
.footer-contacto h3:hover {
  color: white;
  transition: 0.5s;
}

/* ---------------------Media Queries Contactos -------------------------- */
/* ---------------------Media Queries Contactos -------------------------- */
@media (min-width: 320px) and (max-width: 480px) {
  /* Body Resposibe about */
  .body-about {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "section" "article" "footer";
    /* header unico  */
  }
  .header-index {
    grid-area: header;
  }
  /* MAIN-CONTACTO-Responsive  */
  .main-contacto {
    display: inline;
  }
  .info-articulo {
    grid-area: section;
    display: inline;
    /* contenedor contacto */
    /*  Lista de contenido asociado */
  }
  .info-articulo h1 {
    font-size: 30px;
    height: 40px;
    width: 100%;
    margin: 20px 0;
  }
  .info-articulo p {
    grid-area: section;
    background-color: #FFF7D4;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
  }
  .info-articulo .lista-asociados {
    width: 190px;
    height: 150px;
    padding: 15px;
    font-size: 14px;
    margin-left: 12px;
  }
  .info-articulo .frase-epica {
    font-size: 20px;
    width: 100%;
    margin: 0;
  }
  .info-articulo .section__icon__apps {
    grid-area: main;
    text-align: center;
    margin: 10px;
    /* Separacion de iconos de redes y contactos */
  }
  .info-articulo .section__icon__apps a img {
    width: 50px;
    margin: 10px;
  }
  .info-articulo .form-contacto {
    /* comentario de tu  interez */
  }
  .info-articulo .form-contacto h2 {
    height: 40px;
    width: 440px;
    margin: 15px 10px;
  }
  .info-articulo .form-contacto #cometario {
    width: 440px;
    margin: 10px;
  }
  .info-articulo .form-contacto #enviar-contacto {
    height: 50px;
    width: 350px;
    margin: 20px 0 5px 50px;
    border-radius: 10px;
  }
  .info-articulo .form-contacto #enviar-contacto:active {
    background: radial-gradient(circle at center, #C07F00, #FFD95A);
  }
}
.map {
  grid-area: article;
  margin: 10px 0;
  /* Mapa de ubicacion parrafo */
}
.map iframe {
  width: 450px;
  margin-left: 15px;
}
.map p {
  background-color: #FFD95A;
  text-align: center;
  font-size: 20px;
  height: 30px;
  width: 100%;
}

/* footer galeria resposive */
.footer-contacto {
  grid-area: footer;
  display: flex;
  width: 100%;
  height: 50px;
  /* footer galeria h1 resposive */
}
.footer-contacto:hover {
  transition: 0.2s;
}

/* ---------------------------  CSS PAGE SERVICIOS -------------------- */
.body-servicios {
  background-color: #4C3D3D;
  font-family: "Roboto-Regular";
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "header header" "main main" "section section" "footer footer";
}

/* header index el mismo en todos POR AHORA... */
.header-index {
  grid-area: header;
}

/* main servicios */
.main-servicios {
  grid-area: main;
  display: flex;
}

.body-index {
  background-color: #4C3D3D;
}

/* tarjetas de servicios */
.card-servicios {
  grid-area: section;
  margin: 30px;
}
.card-servicios .mb-3 {
  width: 800px;
}

/* img de las targetas */
.servicio-img {
  grid-area: section;
  margin-top: 30px;
}

/* texto de de img cambiantes */
.carousel-caption p {
  display: flex;
  justify-content: center;
  grid-area: section;
  color: white;
  background-color: #4C3D3D;
  padding: 5px;
}
.carousel-caption p .servicio-proximo {
  display: inline;
}

.servicio-proximo {
  display: flex;
  justify-content: center;
}
.servicio-proximo .card, .servicio-proximo .mb-3 {
  margin: 30px;
  width: 650px;
}
.servicio-proximo h3 {
  margin: 20px;
  text-align: center;
}

/* botones con mini-form de eleccion de servicio */
.mini-form-serv {
  display: flex;
  justify-content: start;
  margin: 1px 15px;
}
.mini-form-serv .botones-servicio {
  grid-area: section;
  display: inline;
}
.mini-form-serv .botones-servicio .enviar-servicios {
  font-weight: 700;
  text-transform: uppercase;
  transition: 1s;
  cursor: pointer;
  letter-spacing: 0.3em;
  color: black;
  font-size: 16px;
  width: 360px;
  height: 50px;
  margin: 10px 150px;
  border-radius: 30px;
  background-color: #FFF7D4;
}
.mini-form-serv .botones-servicio .enviar-servicios:hover {
  background: linear-gradient(#C07F00, #FFD95A);
  box-shadow: 0 0 5px #FFD95A, 0 0 25px #C07F00, 0 0 50px #C07F00, 0 0 100px #C07F00;
}
.mini-form-serv .botones-servicio h4 {
  text-align: center;
  background-color: #C07F00;
}
.mini-form-serv .botones-servicio .btn-group {
  display: flex;
  height: 100px;
}
.mini-form-serv .botones-servicio .btn-group .btn {
  background-color: #FFF7D4;
  color: black;
  border: solid black 3px;
  font-size: 16px;
  font-weight: 700;
}
.mini-form-serv .botones-servicio .btn-group .btn:hover {
  background-color: #FFD95A;
}
.mini-form-serv .botones-servicio .btn-group .btn:focus {
  background-color: #FFD95A;
}

/* -------------------------- Footer Contacto / el mismo que contacto--- */
.footer-contacto {
  grid-area: footer;
}

/*------------------------------- Media Queries Servicios--------------------------- */
/*------------------------------- Media Queries Servicios--------------------------- */
@media (min-width: 320px) and (max-width: 480px) {
  .body-servicios {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: start;
    grid-template-areas: "header" "main" "section" "footer";
  }
  /* header menu se quees elmismo que arriba lo tengo que cambiar. */
  .header__menu {
    grid-area: header;
  }
  .header__menu .navbar {
    justify-content: center;
    width: 110px;
    padding-left: 10px;
  }
  .header__divLogo {
    grid-area: header;
  }
  .header__menu__sector div ul {
    margin-top: 10px;
  }
  .header__menu__sector div ul li {
    grid-area: header;
    width: 100%;
    height: 30px;
    font-size: 12px;
  }
  /* tarjetas de servicios  respnsive*/
  .main-servicios {
    grid-area: main;
    display: inline-block;
    /* img de las targetas */
  }
  .main-servicios .card.body {
    width: 200px;
  }
  .main-servicios .card-servicios {
    text-align: center;
    grid-area: section;
    margin: 10px;
  }
  .main-servicios .card-servicios .mb-3 {
    width: 400px;
    font-size: 12px;
    margin-left: 30px;
  }
  .main-servicios .card-servicios .col-md-2 img {
    height: 450px;
    width: 250px;
  }
  .main-servicios .servicio-img {
    grid-area: main;
    display: inline-block;
    margin-top: 0;
    /* texto de de img cambiantes */
  }
  .main-servicios .servicio-img .carousel-inner {
    width: 450px;
    margin-left: 20px;
  }
  .main-servicios .servicio-img .carousel-caption p {
    display: inline;
    width: 400px;
    color: white;
    background-color: #4C3D3D;
    padding: 5px;
  }
  .main-servicios .servicio-img .carousel-caption p .servicio-proximo {
    display: inline;
  }
  .main-servicios .servicio-img .servicio-proximo .card, .main-servicios .servicio-img .servicio-proximo .mb-3 {
    margin: 30px;
    width: 430px;
  }
  .main-servicios .mini-form-serv {
    display: inline-block;
    margin: 0;
  }
  .main-servicios .mini-form-serv .botones-servicio {
    grid-area: section;
  }
  .main-servicios .mini-form-serv .botones-servicio .enviar-servicios {
    width: 380px;
    height: 50px;
    margin: 50px 30px 0;
  }
  .main-servicios .mini-form-serv .botones-servicio .enviar-servicios:active {
    background: linear-gradient(#C07F00, #FFD95A);
  }
  .main-servicios .mini-form-serv .botones-servicio h4 {
    text-align: center;
    padding: 4px;
  }
  .main-servicios .mini-form-serv .botones-servicio .btn-group {
    display: inline-block;
    margin: 10px 0;
    text-align: center;
    width: 100%;
  }
  .main-servicios .mini-form-serv .botones-servicio .btn-group .btn {
    width: 100%;
    margin: 5px;
  }
  .main-servicios .mini-form-serv .botones-servicio .btn-group .btn:active {
    background-color: #FFD95A;
  }
  .main-servicios .mini-form-serv .botones-servicio .btn-group .btn:focus {
    background-color: #FFD95A;
  }
}
/* --------------------------------------------------/* FORMULARIO -------------------------*/
.body-form {
  background-color: #4C3D3D;
  font-family: "Roboto-Regular";
  display: grid;
  grid-template-areas: "header header " "main main" "form form" "footer footer";
}

.header-form {
  grid-area: header;
}

.main-form {
  grid-area: main;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.main-form h1 {
  grid-area: main;
  background-color: #FFD95A;
  text-align: center;
}

/* condicional de modo-aniversario */
.body-index {
  background-color: #4C3D3D;
}

/* Separacion de los elementos del formulario + tipografia */
label {
  display: block;
  font-family: "Roboto-Regular";
  font-size: 18px;
}

/* Iput textarea innline con fuente */
input, textarea, .inline {
  display: block;
  font-family: "Roboto-Regular";
  height: 30px;
}

/* Anchura de imput y select */
input, select {
  width: 100%;
  height: 25px;
}

/* Separacion de los selectores de opciones */
.form-select {
  padding: 0;
  margin: 10px 0;
}

/* dimenciones del formulario */
form {
  grid-area: form;
  max-width: 700px;
  min-width: 300px;
  width: 80vw;
  padding: 8px;
}

/* Boton enviar  personalizado*/
input[id=submit] {
  font-weight: 700;
  text-transform: uppercase;
  transition: 1s;
  cursor: pointer;
  letter-spacing: 0.3em;
  margin: 20px auto;
  display: block;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  background: #C07F00;
  border: #4C3D3D 2px solid;
  border-radius: 10px;
  color: black;
}
input[id=submit]:hover {
  background: radial-gradient(circle at center, #C07F00, #FFD95A);
  box-shadow: 0 0 5px #C07F00, 0 0 25px #C07F00, 0 0 50px #C07F00, 0 0 100px #C07F00;
}

.form-check-input:checked {
  background-color: #C07F00;
  border-color: #4C3D3D;
}

/* fondo de los titulos del form */
.opciones-titulo {
  background-color: #C07F00;
  font-size: 25px;
  padding: 5px;
  text-align: center;
  font-weight: 700;
}

/* fonndo y margen de formulario  */
fieldset {
  background-color: #FFF7D4;
  padding: 10px;
}

p[type=text] {
  text-align: center;
  margin-left: 10px;
}

/* FOOTER FORM----el mismo que galeria----- */
.footer-galeria {
  grid-area: footer;
}

#dropdown {
  margin: 10px 0;
}

.comentario h2 {
  text-align: center;
  background-color: #C07F00;
  font-family: "Roboto-Bold";
  font-size: 25px;
  padding: 5px;
}
.comentario h2 #comentario-1 {
  height: 100px;
  margin-bottom: 10px;
}

.titulo-01-serv h3 {
  background-color: #C07F00;
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  padding: 3px;
  margin-top: 10px;
}

/*-------------------- Media Queries Formulario ---------------------- */
/*-------------------- Media Queries Formulario ---------------------- */
@media (min-width: 320px) and (max-width: 480px) {
  .body-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
  }
  .main-form {
    grid-area: main;
    margin: 10px;
  }
  label {
    font-size: 16px;
  }
  input, textarea, .inline {
    height: 20px;
  }
  input, select {
    width: 100%;
    height: 35px;
  }
  form {
    width: 90vw;
  }
  input[id=submit] {
    width: 300px;
    margin-top: 15px;
    margin-bottom: 20px;
    height: 40px;
  }
  input[id=submit]:active {
    background-color: #FFD95A;
    color: black;
  }
  .form-check-input {
    width: 20px;
    height: 20px;
  }
  .opciones-titulo {
    font-size: 16px;
  }
  .footer-galeria {
    grid-area: footer;
  }
  .comentario h2 {
    font-size: 16px;
  }
  #comentario-1 {
    max-width: 400px;
    height: 100px;
    margin-bottom: 10px;
  }
  .titulo-01-serv h3 {
    font-size: 16px;
  }
}
/* COSAS POR HACER  */

/*# sourceMappingURL=estilos.css.map */
