/* ---------------------------  CSS pages ABOUT -------------------- */
/* GRILLA DE LA PAGINA ABOUT */
.body-about{
    background-color: $fondo-oscuro;
    font-family: "Roboto-Regular";
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}
/* Mismo header del inicio para todas las paginas POR AHORA.. */
.header-index{
    grid-area: header;
}
/* Main about */
.main-about{
    grid-area: main;
}
/* contenedor Titulo de About  */
.titulo-about{
    grid-area: main;
    display: flex;
    justify-content:  center;
    align-items: center;
    margin: 30px 0;
    background-color: $fondo-dorado;
    /*Titulo de About texto*/
    h1{
        grid-area: main;
        padding: 5px;
    }
}
/* Img y biografia 1 de about me display flex*/
.img-y-descripcion {
    grid-area: main;
    display: flex;
    justify-content: space-evenly;
    img{
        width: 30%;
    }
}
/* contenedor Parrafo 1 de biografia */
.biografia-1{
    grid-area: main;
    flex-wrap: wrap;
    width: 50%;
}
/* Parr 1 de biografia */
.parrafo1{
    grid-area: main;
    background-color: $fondo-perla;
    border-radius: 20px;
    padding: 20px;
    line-height: 1.5;
    font-size: 20px;
    font-family: "Roboto-Regular";
}

/* CONTENEDOR TEXTO PARRAFO 2 */
.biografia-2{
    grid-area: main;
    display: flex;

}
/* TEXTO PARRAFO 2 */
.parrafo2{
    grid-area: main ;
    margin: 30px;
    font-size: 20px;
    border-radius: 20px;
    background-color:$fondo-perla;
    padding: 20px;
    line-height: 1.5;
    width: 100%;
}
/* titulo seccion actividades */
.auto-motivacion{
    display: flex;
    justify-content: center;
    h2{
        background: $fondo-dorado;
        width: 100%;
        text-align: center;
        font-size: 40px;
    }
}
/* Actividades Favoritas */
.act-hobbys{
    grid-area: section;
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin: 30px;
    padding: 20px;
}
.accordion-button{
    background-color: $fondo-dorado;
    border: $fondo-dorado;
    font-size: 20px;
    &:not(.collapsed){
        background-color: $fondo-amarillento;
    }
}
.accordion-body{
    background-color: $fondo-perla;
}
/* Lista de Hobbys */
.list-group-item{
    display: flex;
    border: none;
    font-weight: 700;
    font-size: 20px;
    background-color: $fondo-perla;
    /* color de hover para lista de hobbys */
    &:hover{
        background-color: $fondo-amarillento;
    }
    /* color al apretar lista de hobbys  */
    &:focus{
        background-color:$fondo-amarillento;
    }
}
.list-group-item.active{
    background-color: $fondo-amarillento;
    color:black
}
/* condicional de aniversario 1 */
@if $estiloPorfolio == aniversario-1°{
    .body-about{
        background-color: #4F200D;                                    
    }
}
@else{
    .body-index{
        background-color: $fondo-oscuro
    }
} 
/*------------------------ FOOTER ABOUT  el mismo que galeria*/
.footer-galeria {
    grid-area: footer;
}
/* --------------------------Media Queries About----------------------- */
