/* ---------------------------  CSS pages contacto -------------------- */
/* BODY CONTACTO */
.body-contacto{
    background-color: $fondo-oscuro;
    font-family: "Roboto-Regular";
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "header header header"
    "section section section"
    "footer footer footer";
}
/* HEADER-CONTACTO */
.header-index{
    grid-area: header;
}
/* MAIN-CONTACTO */
.main-contacto{
    grid-area: section;
    background-image: url(../img/fondo-contacto-img.jpg);
    display: flex;
    justify-content: space-evenly;
}   
.info-articulo{
    grid-area: section;
    justify-content: center;
    /* contenedor contacto */
    h1{
        background-color: $fondo-amarillento;
        text-align: center;
        font-size: 30px;
        margin: 30px ; 
        font-family: "Roboto-Bold";
        width: 30%;
    }
    p{  
        width: 40%;
        grid-area: section;
        background-color: $fondo-perla;  
        padding: 15px;
        margin: 20px;
    }
        /* Lista de contenido asociado */
    .lista-asociados{
        grid-area: section;
        list-style: none;
        padding: 10px;
        background-color: $fondo-perla;
        width: 20%;               
        padding-left: 20px;
        margin: 20px;
    }
    .redes-y-cometario{
        display: flex;
        justify-content: space-between;
    }
    .section__icon__apps{
        grid-area: section;
        justify-content: left;
        /* Separacion de iconos de redes y contactos */
        a img{
            padding: 10px;
            width: 100%;
        }
        button{
            border-radius: 20px;
            border-color: $fondo-amarillento;
            transition: all 0.5s;
            &:hover{
                transform: scale(0.85);
            }
        }
    }
    .h2-otros-proyectos-contacto{
        width: 30%;
        background-color: $fondo-amarillento;
        text-align: center;
    } 
    .otro-proyecto{
        margin: 20px;
        display: flex;
        img{
            width: 200px;
        }
        p{
            height: 100%;
            a{
                color: $fondo-dorado;
                text-decoration: none;
                &:hover{
                    color: $fondo-oscuro;
                }
            }
        }
    }
@each $medios, $color in $medios-contacto{
    ##{$medios}{
        background-color: $color;
    }
}
}
/* Mapa de ubicacion */
.map{
    grid-area: section;
    text-align: center;
    
    iframe{
        width: 80%;        
    }
    /* Mapa de ubicacion parrafo */
    p{
        background-color:$fondo-amarillento;
        text-align: center;
        font-size: 23px;
        margin: 30px 0 10px;
    }
    .form-contacto{
        grid-area: main;
        h2{
            background-color: $fondo-amarillento;
            font-size: 20px;            
            text-align: center;
            padding: 5px;
        }
        /* comentario de tu  interez */
        .cometario{
            height: 40%;
            width: 100%;
            border: $fondo-amarillento solid 5px;
        }
        .enviar-contacto{
            @include BtnEnviar(700, uppercase, 1s, pointer , 0.3em );
            height: 50px;
            width: 70%;
            background-color: $fondo-perla; 
            margin-left: 15%;
            border-radius: 10px;
            color: black;
            font-size: 16px;
            &:hover{
                background: radial-gradient(circle at center, $fondo-dorado, $fondo-amarillento);
                box-shadow: 0 0 5px $fondo-amarillento,
                            0 0 25px $fondo-amarillento,
                            0 0 50px $fondo-amarillento,
                            0 0 100px $fondo-amarillento
            }
        }
    }   
}
/* --------------------------FOOTER contato usado en pages  contacto y servicios----------------- */
.footer-contacto{
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #C07F00;         
    height: 50px;  
    a{
        text-decoration: none;
    }  
    h3{
        font-family: "Roboto-Bold";
        color:$fondo-oscuro;
        font-size: 35px;
        &:hover{
            color: white;
            transition: 0.5s;
        }  
    }
}
/* ---------------------Media Queries Contactos -------------------------- */
