/* --------------------------------------------------/* FORMULARIO -------------------------*/
.body-form{
    background-color: $fondo-oscuro;
    font-family: "Roboto-Regular";
    display: grid;
    grid-template-areas:
    "header header "
    "main main"
    "footer footer";
    p{
        font-size: 18px;    
    }
}
/* header unico */
.header-form{
    grid-area: header;
}
/* main form resposive  */
.main-form{
    grid-area: main;
    display: flex;
    justify-content: center;
    margin: 20px;
    h1{
        grid-area: main;
        font-size: 25px;
        text-align: center;
        color:$fondo-oscuro;
        padding: 10px;
        background-color: $fondo-amarillento;
    }
}
/* condicional de modo-aniversario */
@if $estiloPorfolio == aniversario-1°{
    .body-form{
        background-color: #4F200D;                                    
    }
}
@else{
    .body-index{
        background-color: $fondo-oscuro
    }
} 
 /* Separacion de los elementos del formulario + tipografia */
label{
    width: 100%;           
    font-size: 20px;
}
/* Iput textarea innline con fuente */
input{
    display:block;
    margin: 10px 0;
    border: white;                    
    font-size: 16px;
    padding: 10px;                              
    width: 100%;
    height: 50%;
}
/* Separacion de los selectores de opciones */
.form-select{
    padding: 0;
    margin: 20px 0;
}
/* dimenciones del formulario */
.contratacion-form{
    grid-area: form;
    max-width: 700px;
    min-width: 300px;
    width: 80vw;            
    padding:10px;
    background-color: $fondo-perla
}
/* Boton enviar  personalizado*/
input[id="submit"]{
    @include BtnEnviar(700, uppercase, 1s, pointer , 8px );
    margin: 20px auto;
    display: block;
    width: 400px;
    background: $fondo-dorado;
    border: $fondo-oscuro 2px solid;
    border-radius: 10px;
    color:black;
    &:hover{
        background: radial-gradient(circle at center, $fondo-amarillento, $fondo-dorado);
        box-shadow: 0 0 5px $fondo-dorado,
                    0 0 25px $fondo-dorado,
                    0 0 50px $fondo-dorado,
                    0 0 100px $fondo-dorado
    }
}
.form-check-input:checked {
    background-color: $fondo-dorado;
    border-color: $fondo-oscuro;
}
/* fondo de los titulos del form */
.opciones-servicios{
    h2{
        background-color: $fondo-amarillento;
        font-size: 25px;
        padding: 10px;
        text-align: center;
    }
    .form-check-label{
        margin-left: 10px;
    }
}
.form-select{
    padding: 5px;
}
/* fonndo y margen de formulario  */

p[type="text"]{
    text-align:center;
    margin-left:10px ;     
}
/* comentario de solicitud de servicio  */
.msj-proyecto{
    h2{
        text-align:center;
        background-color: $fondo-amarillento;
        font-family: "Roboto-Bold";
        font-size: 25px;
        padding: 10px;
    }
    #comentario-1{
        padding: 10px;
        width: 100%;
    }
}  
/* aficacion ultimo  titulo */
.titulo-01-serv{
    h3{
        background-color: $fondo-amarillento;
        font-size: 25px;
        text-align: center;
        padding: 5px;
        margin-top: 10px;
    }
}
/* --------------FOOTER FORM----el mismo que galeria----- */
.footer-galeria{
    grid-area: footer;
}
/*-------------------- Media Queries Formulario ---------------------- */
