/*--------------------------------- INDEX CSS---------------------- */
/* Body index*/
.body-index{
    background-color: $fondo-oscuro;
    font-family: "Roboto-Bold";
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}
/* HEADER INDEX */
.header-index{
    grid-area: header;
}
/* Menu de navegacion */
.header__menu{
    display: flex;
    justify-content: space-around;
    align-items:center;           
    background-color: $fondo-perla;
    h1{
        font-size: 20px;
        text-align: center;
        font-family: "Roboto-Bold";
    }
    /* Header menu con barra de nav */
    .navbar{
        width: 100%;
        justify-content: right;
        margin: 10px ;
    }
    /* Animacion de cajas */
    .animaciones-cajas{
        grid-area: header;
        ul{
            display: flex;
            justify-content:right;
            align-items: center;
            margin-bottom: 0;
            padding: 0px;
        }
        li{
            list-style-type: none;
            width: 75px;
            height: 75px;
            background: #fff;
            border-radius: 50px;
            animation: animate 3s ease-in-out infinite;
            display: flex;
            justify-content: center;
            align-items: center;
        img{
            width: 80px;
            height: 80px;
        }
        &:nth-child(1){
            animation-delay: -1400ms;
            background: $fondo-dorado;
        }
        &:nth-child(2){
            animation-delay: -1200ms;
            background: $fondo-amarillento;
        }
        &:nth-child(3){
            animation-delay: -1000ms;
            background: $fondo-oscuro;
            margin-left: 10px;
        }
        @keyframes animate {
            30%, 100% {
                transform: scale(0.5);
                }
                20% {
                transform: scale(1.1);
                }
            }
        }
    }
}
/* Logotipo con características */
.header__divLogo{
    display: flex;          
    align-items: center;     
    padding: 10px; 
    img{
        width: 250px;
        transition: all 0.8s;
        &:hover{
            transform: scale(1.1);
        }
    }
}
/* Separación de enlaces del menú */
.header__menu__sector ul{
    display: flex;
    font-family: "Nexa-Heavy";
    /* Fondo de enlaces */
    :nth-child(even){                                             /* PROBLEMA CON ESTOP  */
        background-color: $fondo-amarillento;
    }
    /* Cada clase de pagina con sus propiedades  */
    li{
        width: 150px;
        height: 60px;
        background-color: $fondo-dorado; 
        font-size: 23px;           
        text-align: center;
        list-style: none;
        transition: all 0.6s;
        &:hover{
            transform: scale(1.10);
            border-radius: 15px ;
        }
    }
}
/* Enlaces sin decoracion */
.nav-link{
    text-decoration: none;          
    color: black;
    font-weight: 700;
    /* Enlaces cambia de color */
    &:hover{
        color: white;
        transition: 0.5s;           
    }
}
/*-------------------------- MAIN index --------------------------*/
.main-index{
    grid-area: main;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Foto perfil con margen */
.foto__abiel{
    grid-area: main;
    margin: 10px;
    /* Border de la imagen */            /* CUIDADO CON BEM Y SASS VERIFICAR EN ESTE SI HAY ERROR  */
    img{
        border-radius: 80px;          
    }     
}
/* Contenedor del titulo y parrafo */
.section__info__personal{
    grid-area: main;
    background-color: $fondo-dorado;     
    padding: 10px;
    width: 800px;
    border-radius: 10px;     
    /* TITULO info personal  */
    h1{
        font-family: "Nexa-Heavy";
        text-align: center;
        padding-top: 2px;
    }
    /* Parrafo info personal */
    p{
        text-align: left;
        padding: 8px;
        font-size: 1.2em;
        font-family: "Roboto-Regular";
        line-height: 23px;
    }
}
/* Ubicacion Iconos de redes y contactos */
.section__icon__apps{
    grid-area: main;
    display: flex;
    justify-content: center;
    padding: 10px;
     /* Separacion de iconos de redes y contactos */
    a{
        width: 65px;
        padding: 5px;
        margin: 10px;
        img{
            margin: 5px;
            border-radius: 10px;
            border-color: $fondo-amarillento;
            transition: all 0.5s;
            &:hover{
                transform: scale(0.85);
            }
        }
    }
}
@each $medios, $color in $medios-contacto{
    ##{$medios}{
        background-color: $color;
    }
}

/*---------------Footer index---------------------------------------------- */
.footer__index{
    grid-area: footer;
    display: flex;
    justify-content: space-evenly ;
    background-color: $fondo-amarillento;          
/* Contendedor de los servicios */
    .articulo__index__serv{
        display: block;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;                       
            height: 100px;
            margin: 5px 90px 5px;
            img{
                transition: all 0.5s;
                cursor: pointer;
                &:hover{
                    transform: scale(0.85);
                }
            }   
        }
        /* Animacion importada de los iconos de las servicios*/

    p{                              
        background-color: $fondo-perla;
        text-align: center;
        padding: 10px;
    }
}
 /* DIVISOR ENTRE SERVICIOS */
.divisor{              
    background-color: $fondo-dorado;
    width: 45px;
}
}
/* ---------------------------- 1°er-ANIVERSARIO DE LA PAGINA EN SERVICIO -----------------*/
/* CODICIONAL DE ESTILO ANIVERSARIO  */
@if $estiloPorfolio == aniversario-1°{
    .body-index{
        background-color: #4F200D;                                    
    }
    .header__menu{
        background: linear-gradient(to top, #F98404, #F1B258);
    }
    .footer__index{
        background: linear-gradient(to bottom, #F98404, #F1B258);
    }
}
@else{
    .body-index{
        background-color: $fondo-oscuro
    } 
    .header__menu{
        background-color: $fondo-perla;
    }
    .footer__index{
        background-color: $fondo-amarillento;
    }
}
/* ------------------------------Media Queris INDEX -------------------------------*/
