/* ---------------------------  CSS PAGE SERVICIOS -------------------- */
.body-servicios{
    background-color: $fondo-oscuro;
    font-family: "Roboto-Regular";
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}
/* header index el mismo en todos POR AHORA... */
.header-index{
    grid-area: header;
}
/* main servicios */
.main-servicios{
    grid-area: main;
    display: flex;
}
@if $estiloPorfolio == aniversario-1°{
    .body-servicios{
        background-color: #4F200D;                                    
    }
}
@else{
    .body-index{
        background-color: $fondo-oscuro
    }
} 
/* tarjetas de servicios */
.card-servicios{
    grid-area: main;
    margin: 20px;
    h1,h2,h3{
        font-size: 20px;
    }
}
.servicio-img{
    width: 100%;
    margin: 15px;
}
/* 3 iconos por cada servicio a dar que tienen relacion con ellos  */
.icon-act-1{
    display: flex;
    justify-content: center;
    div{
        text-align: center  ;
        cursor: pointer;
        border-radius: 10px;
        margin: 10px 20px 0 10px;
    }
    /* ICONOS 1 2 y 3 con maps y mixin  */
    .icon-1{
        background-color: map-get($icon-servicios, icon-1);
        @include Icon-Servicios(0.6s, 1.20, $fondo-perla);
        @include TextoIconos (1s , rgba(0,0,0,0), underline solid $fondo-dorado, 16px, center, black);
    }      
    .icon-2{
        background-color: map-get($icon-servicios, icon-2);
        @include Icon-Servicios(0.6s, 1.20, $fondo-perla);
        @include TextoIconos (1s , rgba(0,0,0,0), underline solid $fondo-dorado, 16px, center, black);
    }
    .icon-3{
        background-color: map-get($icon-servicios, icon-3);
        @include Icon-Servicios(0.6s, 1.20, $fondo-perla);
        @include TextoIconos (1s , rgba(0,0,0,0), underline solid $fondo-dorado, 16px, center, black)
    }
}
    /* aplicando extend a los demas iconos */
    .icon-act-2{
        @extend .icon-act-1;
    }
    .icon-act-3{
        @extend .icon-act-1;
    }
/* texto de de img cambiantes */
.carousel-caption{
    grid-area: main;
    p{
        color: white;
        background-color: $fondo-oscuro;
        padding: 10px;
        border-radius: 10px;
        font-size: 15px;
    }
}
.servicio-proximo{
    grid-area: main;
    display: flex;
    padding-top: 20px;
    h5{
        margin: 20px;
        text-align: center;
        font-size: 30px;
    }
}
/* botones con mini-form de eleccion de servicio */
.mini-form-serv{
    display: flex;
    justify-content: center;
    margin: 10px 15px;
    h4{
        margin: 20px 0 10px 0;
    }
    .botones-servicio{
        grid-area: main;
        display: inline;
        .enviar-servicios{
            @include BtnEnviar(700, uppercase, 1s, pointer , 0.3em );
            color: black;
            font-size: 16px;
            width: 360px;
            height: 50px;
            margin: 10px 170px ;
            border-radius: 30px;
            background-color: $fondo-perla;
            &:hover{
                background: linear-gradient($fondo-dorado , $fondo-amarillento);
                box-shadow: 0 0 5px $fondo-amarillento,
                0 0 25px $fondo-dorado,
                0 0 50px $fondo-dorado,
                0 0 100px $fondo-dorado
            }
        }  
        h4{
            text-align: center;
            background-color: $fondo-dorado;
        }
        .btn-group{
            display: flex;
            height: 100px;
            .btn{
                background-color: $fondo-perla;
                color: black;
                border: solid black 3px ;
                font-size: 16px;
                font-weight: 700;
                &:hover{
                    background-color: $fondo-amarillento;
                }
                &:focus{
                    background-color:$fondo-amarillento;
                }
            }
        }
    }
}
/* -------------------------- Footer Contacto / el mismo que contacto--- */
.footer-contacto{
    grid-area: footer;
}
/*------------------------------- Media Queries Servicios--------------------------- */