/*------------------- MAPAS DE ESTILOS --------------------- */


/* MEDIOS-CONTACTO ESTILOS */
$medios-contacto:(
    whatApp: #25D366,
    linkedin: #0A66C2,
    email: #22aff0,
    instagram: #c72525
);
