
/* MEDIOS-CONTACTO ESTILOS */
$medios-contacto:(
    whatApp: #25D366,
    linkedin: #0A66C2,
    email: #22aff0,
    instagram: #c72525
);
/* Colores de los iconos de servicio */
$icon-servicios:(
    icon-1: $fondo-amarillento,
    icon-2: $fondo-amarillento,
    icon-3: $fondo-amarillento
);