$fondo-oscuro:#4C3D3D;
$fondo-dorado:#C07F00;
$fondo-amarillento:#FFD95A;
$fondo-perla: #FFF7D4;

/* Inidex CSS ESTILOS POR EVENTO */
$estiloPorfolio: aniversario-°;

/* animacion solo para desktop */
$aniSoloEscritorio: animacion-Bolitas;
