/* Colores Principales del peroyecto */
$fondo-oscuro:#4C3D3D;
$fondo-dorado:#C07F00;
$fondo-amarillento:#FFD95A;
$fondo-perla: #FFF7D4;

/* Inidex CSS ESTILOS POR EVENTO colocar 1 enntre - ° para habilitar el estilo  recuerda compliar en sass antes*/
$estiloPorfolio: aniversario-°;

/* animacion solo para desktop */
$aniSoloEscritorio: animacion-Bolitas;
