/* --------------------------Media Queries About----------------------- */
@media (min-width:320px) and (max-width:480px){
    /* Body Resposibe about */
    .body-about{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
    /* header unico  */
    }
    .header__menu{
        grid-area: header;
    }
    .header__divLogo{
        grid-area: header;
    }
    .header__menu__sector div ul{
        grid-area: main;
    }
    /* Main resposive about */
    .main-about{
        grid-area: main;
    }
    /* titulo acomodado */
    .titulo-about{
        grid-area: main;
        display: flex;
        align-items: end;
        margin: 10px 0;
        /*Titulo de About texto*/
        h1{
            grid-area: main;
            padding: 10px;
            font-size: 16px;
            text-align: center;
        }
    }
    .img-y-descripcion {
        grid-area: main;
        display: inline-block;
        img{
            width: 100%;
        }
    }
    .biografia-1{
        width: 100%;
    }
    .parrafo1{
        padding: 20px;              
        font-size: 18px;
        margin: 10px;
    }
    .biografia-2{
        width: 100%;
    }
    /* TEXTO PARRAFO 2 */
    .parrafo2{
        font-size: 18px;
        margin: 10px;
        line-height: 1.5;
    }
    /* Seccion 2 de desarrollo personal  */
    .auto-motivacion h2{
        width: 100%;
        margin: 15px 0;
    }
    /* cartel de motivacion */
    .act-hobbys {
        display: inline-block;
        padding: 0px;
        margin: 10px;
        img{
            width: 100%;
        }
    }
    /* Acordion de bootstrap con obejetivos y mi personalidad */
        .accordion{
        margin: 10px 0;
        width: 100%;
    }
    /* Lista de Hobbys */
    .list-group-item{
        display: flex;
        justify-content: center;
        width: 100%;
        /* color al apretar lista de hobbys  */
        &:focus{
            background-color:$fondo-amarillento;
        }
    }
}