/*-------------------- Media Queries Formulario ---------------------- */
@media (min-width: 320px) and (max-width:480px){
    .body-form{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        p{
            font-size: 16px;
            margin-bottom: 5px;
        }
    }
    /* header unico  */
    .header-index{
        grid-area: header ;
    }
    /* Form main contenedor  */
    .main-form{
        grid-area: main;
        margin: 0px;
        padding: 10px;
        width: 100%;
        h1{
            font-size: 14px;
        }
    }
    /* tamanio de texto  de los casillas de escritura */
    label{
        font-size: 16px;
    }
    /* casillas de escritura */
    input, .inline{      
        height: 20px;                    
        width: 100%;                             
    }
    /* Margen de selectores en BS*/
    .form-select{
        margin: 0px ;     
    }
    /* fondo contenedor del form  */
    .contratacion-form{
        grid-area: form;
        width: 100%;            
        padding:10px;
        background-color: $fondo-perla
    }
    /* boton enviar  */
    input[id="submit"]{
        width: 100%;
        margin-top: 25px;
        margin-bottom: 10px;        
        height: 40px;
        &:active{
            background-color: $fondo-amarillento;
            color: black;
            }
        }
    }
    /* fondo de los titulos del form */
    .opciones-servicios{
        h2{
            font-size: 15px;
            padding: 12px;
        }
    }
    /* fonndo y margen de formulario  */
    p[type="text"]{
        text-align:center;
        margin-left:10px ;     
    }
    /* Comentario de solicitud del servicio  */
    .msj-proyecto{
        h2{
            text-align:center;
            background-color: $fondo-amarillento;
            font-family: "Roboto-Bold";
            font-size: 15px;
            padding: 10px;
        }
        #comentario-1{
            padding: 10px;
            width: 100%;
        }
    }  
    /* titulo servicio 1 */
    .titulo-01-serv{
        h3{  
            background-color: $fondo-amarillento;
            font-size: 15px;
            text-align: center;
            padding: 8px;
            margin-top: 10px;
        }
    }
    /* FOOTER FORM----el mismo que galeria----- */
    .footer-galeria{
        grid-area: footer;
    }