/* ------------------------------Media Queris INDEX -------------------------------*/
@media (min-width:320px) and (max-width: 480px){
    .body-index{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "main"
        "footer";
    }
    /* header menu index con parametros  */
    .header__menu{
        grid-area: header;
        display:flex;
        justify-content: space-between;
        padding: 10px;
        width: 100%;
        /* hader menu index con nav */
        .navbar{
            width: 100px;
            justify-content:start;
            padding: 0;
        }
        .navbar-toggler{
            display: flex;
        }
    }

    /* header  div del logo */
    .header__divLogo{
        padding: 0;
        width: 100px;
        img{
            transition: none;
        }
    }
    @if $aniSoloEscritorio == animacion-Bolitas{
        .animaciones-cajas{
            display: none;
        }
    }
    /* enlaces de las paginas */
    .nav-link{
        display: flex;
        justify-content: center;
        align-items: start;
        text-decoration: none;      
        color: black;
        font-size: 14px;
        width: 120px;
         /* Enlaces cambia de color */
        &:active{
            color: white;
            transition: 0.5s;           
        }
    }
    /* Contenedor de las paginas */
    .header__menu__sector div li{
        grid-area: main;
        width: 100px;
        height: 30px;
        font-size: 12px;           
    }
    /* Main index Resposive */
    .main-index{
        grid-area: main;
        flex-wrap: wrap;
    }
    /* Foto con margen para movil */
    .foto__abiel{
        grid-area: main;
        margin: 0;
          /* Foto con bordes movil */
        img{
            margin: 10px;
            grid-area: main;
            border-radius: 40px; 
            width: 95%;
            
            background-image: url(../img/Fotos-perfil/Foto-perfil-responsive.jpg);      
        }  
    }
    /* info personal movil */
    .section__info__personal{ 
        grid-area: main;    
        margin:10px;
        padding: 5px;         
        width: 100%;
         /* info personal parrafo movil */
        p{
            grid-area: main;
            padding: 10px;
            font-size: 1.1em;
        }   
    }
    /* Inconos de redes */
    .section__icon__apps {
        border-radius: 10px;
        padding: 0px;
        width: 100%;
        a{
            width: 65px;
            padding: 0px;
            margin: 10px;
        }
    }
    /* FOOTER INDEX RESPOSIVE  */
    .footer__index{
        grid-area: footer;
        display: inline-block;
    }
    /*  contenedor de img de los servicios  */
    .articulo__index__serv{
        div{
        grid-area: footer;
        width: 120px;                       
        height: 120px;
        padding: 0;
        margin-left: 200px;
        }
        img{
            margin-left: 120px;
        }
         /* parrafo de img de los servicios */
        p{
            grid-area: footer;
            width: 100%;
            margin: 0;
        }
    }
    .divisor{           
        display: inline;
    }
}